.adress {
  font-style: normal;
  font-size: 0.8em;
  height: 1rem;
  color: white;
  margin: 0px 0px 10px 0px;
}

.footer-container {
  width: 1400px;
  height: 150px;
  padding: 40px 50px;
  /* margin: 100px 180px 20px; */
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.footer-container a {
  color: white;

  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  padding: 0px;
}

.footer-container ul {
  list-style: none;
  padding: 0px;
}

.map-frame {
  height: 200px;
  width: 30%;
}
